.pageWrapper {
  --border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  .contentWrapper {
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 0 10px #ccc;
    border-radius: var(--border-radius);
    min-width: min(90%, 80rem);

    .head {
      font-weight: bold;
      padding: 0.5rem;

      &Editor {
        box-shadow: 0 0 5px #ccc;
        margin: 0.5rem 0;
      }
    }

    .choice {
      display: flex;
      align-items: center;
      border-radius: var(--border-radius);
      margin: 0.5rem 0;
      box-shadow: 0 0 5px #ccc;
      transition: all 0.1s;

      &[data-chosen="true"] {
        outline: solid 2px var(--theme-color-10);
      }

      .choiceEditor {
        flex: 1;
        margin-left: 1.5rem;
      }

      .choiceRemove,
      .choiceLetter {
        user-select: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 2rem;
        aspect-ratio: 1/1;
        border-radius: 9999px;
        background: #eee;
        margin: 0 0.5rem;

        &:hover {
          background: #ccc;
        }
      }


    }

    .choiceAddWrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 1rem 0 0;

      .choiceAdd {
        user-select: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 2rem;
        aspect-ratio: 1/1;
        border-radius: 9999px;
        background: #eee;
        margin: 0 0.5rem;

        &:hover {
          background: #ccc;
        }
      }
    }

    .submitButtonWrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 0.5rem 0;
      padding: 0.5rem 0;

      .submitButton {
        font-size: large;
        user-select: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 5rem;
        aspect-ratio: 2/1;
        border-radius: 50px;
        background-color: #eee;
        margin: 0 0.5rem;

        &:hover {
          background-color: #ccc;
        }
      }
    }
  }
}