.layoutContainer {
  display: flex;

  .mainSection {
    flex: 1
  }

  .navSection {
    min-height: 100vh;
    background-color: #ddd;

    .navOption {
      display: flex;
      margin: 0.25em 1em;
      padding: 1em;
      border-radius: 10px;
      background-color: #aaa;
      color: white;

      &:first-child {
        margin-top: 2em;
      }

      &:hover {
        background-color: #999;
      }

      .navIcon {
        min-width: 2em;
        align-items: flex-start;
      }
    }

    >.routesNav {
      display: flex;
      flex-direction: column;
    }


  }
}